# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# React Native (Android/iOS builds)
android/.gradle/
android/app/build/
ios/build/
ios/Pods/

# Keys & certs
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Build outputs
*.apk
*.aab
*.ipa
